<div class="background">
  <super-navbar>
    <super-navbar-title>
    
    </super-navbar-title>
  </super-navbar>

  <div class="row">
    <a class="card col" href="watch.html">
    
      <div class="item item-image">
         <img src="/images/prank.jpg">
      </div>
        <h5>Pranks</h5>
        <div class="watching">
        <i class="icon-right super-eye"></i>
        <p>235</p>
        </div>
    </a>

    <a class="card col" href="watch.html">
    
       <div class="item item-image">
         <img src="/images/fail.jpg">
      </div>
        <h5>Fails</h5>
        <div class="watching">
        <i class="icon-right super-eye"></i>
        <p>121</p><i class="testicon"></i>
        </div>
    </a>
  </div>
  <div class="row">
     <a class="card col" href="watch.html">
  
       <div class="item item-image">
         <img src="/images/fail.jpg">
      </div>
        <h5>Fails</h5>
        <div class="watching">
        <i class="icon-right super-eye"></i>
        <p>121</p>
        </div>
    </a>
      <a class="card col" href="watch.html">
    
      <div class="item item-image">
         <img src="/images/prank.jpg">
      </div>
        <h5>Pranks</h5>
        <div class="watching">
        <i class="icon-right super-eye"></i>
        <p>235</p>
        </div>
    </a>
  </div>

</div>

