
<div>
  <super-navbar>
    <super-navbar-title>
      Watchuz
    </super-navbar-title>
  </super-navbar>

<div class="row top">
  <div class="col">
  	 <div class="item item-image">
         <img src="/images/pers1.jpg">
      </div>
  </div>
  <div class="col">
  	 <div class="item item-image">
         <img src="/images/pers2.jpg">
      </div>
  </div>
  <div class="col">
  	 <div class="item item-image">
         <img src="/images/pers3.jpg">
      </div>
  </div>
</div>

<div class="row center padding-top">
	 <div class="item item-image">
         <img src="/images/fake_video.jpg">
      </div>
</div>

<div class="row bottom">
	<div class="col">
  	 <div class="item item-image">
         <img src="/images/pers4.jpg">
      </div>
  </div>
  <div class="col">
  	 <div class="item item-image">
         <img src="/images/pers5.jpg">
      </div>
  </div>
  <div class="col">
  	 <div class="item item-image">
         <img src="/images/pers3.jpg">
      </div>
  </div>
</div>



</div>
